<% content_for :'page-header' do %>
Daftar partner distribusi sumbangan
<% end %>

<ul>
<% @partners.each do |partner| %>
  <li>
    <h1><%= partner.name %></h1>
    <p><%= partner.website %></p>
    <p><%= partner.description %></p>
    <td><%= link_to 'Show', partner if user_role == 'marketeer' %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) if user_role == 'marketeer' %></td>
    <td><%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete if user_role == 'marketeer'  %></td>
  </li>
<% end %>
</ul>
<%= link_to 'New Partner', new_partner_path if user_role == 'marketeer' %>
