<script type="text/javascript">
  $(document).ready(function() {
      $('#mainBanner ul').cycle({
          fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
      });
  });
</script>

<% if session['required_resources_present'] %>
  <h1>Pasar Amal - jual beli barang untuk amal</h1>

  <div id='mainBanner' style='margin: 10px 0; display: block; height: 200px;'>
    <ul>
      <li>
        <span>Pasar Amal adalah tempat kita menjual barang dengan tujuan amal.</span>
      </li>
      <li>
        <span>Foto dari partner2: GNOTA, Dompet Duafa, dll</span>
      </li>
      <li>
        <span>Collage dari foto event kita</span>
      </li>
    </ul>
  </div>
  <nav>

    <%= "Saya ingin mendonasikan barang" %>
    <ul>
      <li>
        <%= link_to "Dropbox", dropboxes_path %>
      </li>
      <li>
        <%= link_to "Pick up", new_donation_path %>
      </li>
    </ul>
  </nav>

  <div id='catalogs'>
    <section>
      <header>
      <div class='border-bottom'>
        <h2>Daftar barang di pasar:</h2>
      </div>
        </header>
    </section>
        <% if @products %>

          <ul>
            <% for product in @products %>
              <li id='<%= product.id %>' class="itemBox left">
                <a href='<%= product_path(product)%>' title="<%= product.name %>">
                  <% if product.image %>
                    <span class='img-wrapper'>
                    <%= image_tag(product.image.url(:medium), :width=> 135, :height => 194, :style => 'display: inline;') %>
                    </span>
                  <% end %>
                  <span class='strong'><%= product.name %></span>
                  <span class="itm-priceBox strong"><span class="itm-price ">RP&nbsp;<%= product.price%></span></span>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
  </div>



<% else %>
      <b>Marketplace Administrator User does not exist</b><br/>
      <p style='color: red'>
        You cannot administer the marketplace until you have created 'Admin' user for the Marketplace.<br />  
      
        <form action='/signup' method='post'>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <input name="role" type="hidden" value="marketeer" />
          <table>
            <tr>
              <td><b>Username</b></td>
              <td><input type='text' name='username'/></td>
            </tr>
            <tr>
              <td><b>Password</b></td>
              <td><input type='password' name='password'/></td>
            </tr>
            <tr><td colspan='2' align="center"><input type='submit' value='Create Admin User'/></td></tr>
          </table>
        </form>      
      </p>

<% end %>
