<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Selamat datang di Pasar Amal</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if lt IE 9]>
    <%= stylesheet_link_tag    "ie9", :media => "all" %>
    <![endif]-->
    <%= javascript_include_tag "modernizr.foundation" %>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class='home'>

    <!-- navigation block -->
    <%= render partial: 'layouts/navigation_block' %>

    <!-- featured block -->
    <section class="container" id="featured">
      <div class="row">
        <div class="twelve columns">
          <div id="featuredContent">
            <%= render partial: 'layouts/featured_contents' %>
          </div>
        </div>
      </div>
    </section>

  <section class="container" id="main">
    <div class="row">
      <div class="banners">
        <div class="four columns">
          <img src="assets/ico-catalogue.png" alt="">
          <h3>Katalog Belanja</h3>
          <p>
            Katalog barang-barang berkualitas dengan harga menarik. 
          </p>
          <a href="#" class="button radius secondary">Learn more &rarr;</a>
        </div>
        <div class="four columns">
          <img src="assets/ico-truck.png" alt="">
          <h3>Atur penjemputan</h3>
          <p>Atur penjemputan barang yang akan anda donasikan, sesuaikan dengan waktu yang anda inginkan.</p>
          <a href="#" class="button radius secondary">Learn more &rarr;</a>
        </div>
        <div class="four columns">
          <img src="assets/ico-box.png" alt="">
          <h3>Dropbox Events</h3>
          <p>Cari tahu kapan dan dimana kami akan mengadakan dropbox events. Disitu anda bisa secara langsung menyerahkan donasi sekaligus melihat katalog kami.</p>
          <a href="#" class="button radius secondary">Learn more &rarr;</a>
        </div>
      </div>
    </div>
  </section>

  <%= render 'layouts/footer' %>

  </body>
</html>
