<!DOCTYPE html>
<html>
  <head>
    <title>Pasar Amal</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class='front'>
    <div id='page'>
      <section id="main-content" role="main">
      <div class='region region-above-content'>

        <!-- navigation block -->
        <%= render :partial => 'layouts/navigation_block' %>

        <section id="block-views-gallery-block" class="block block-views block-even">
        <div>
          <div class="view-content">
            <div class="skin-default">
              <div>
                <div id="views_slideshow_cycle_teaser_section_gallery-block">
                  <div>
                    <div>
                      <a href="/how" class="gallery-image"><img typeof="foaf:Image" src="assets/text.jpeg" alt="PasarAmal.com"></a>
                    </div>
                  </div>
                  <div>
                    <div>
                      <a href="/partners" class="gallery-image"><img typeof="foaf:Image" src="assets/gnota.jpeg" alt="partners"></a>
                    </div>
                  </div>
                  <div>
                    <div>
                      <a href="/dropboxes" class="gallery-image"><img typeof="foaf:Image" src="assets/dompet.jpeg" alt="dropboxes"></a>    
                    </div>
                  </div>
                </div>
              </div>
              <div class="views-slideshow-controls-bottom clearfix">
                <div id="slideshow_pager" class="views_slideshow_pager_field">
                </div>
                <div class="views-slideshow-controls-text">
                  <span id="views_slideshow_controls_text_previous_gallery-block" class="views-slideshow-controls-text-previous"><a href="#">Previous</a></span>
                  <span id="views_slideshow_controls_text_pause_gallery-block" class="views-slideshow-controls-text-pause"><a href="#">Resume</a></span>
                  <span id="views_slideshow_controls_text_next_gallery-block" class="views-slideshow-controls-text-next"><a href="#">Next</a></span>
                </div>
              </div>
            </div>
          </div>
        </div> 
        </section>
        
        <nav id="block-boxes-catalog-nav" class="catalog-nav block block-boxes block-boxes-simple block-odd">
        <ul class="catalog-navigation">
          <li class="gender donate" hash="#donate" style="width: 355px; ">
          <div class="img-holder ir">Donate</div>
          <div class="label">Donate</div>
          <ul class="products donate items-8">
            <li title="arrange pickup" class="product pickup" hash="#arrangepickup"><span>Atur penjemputan barang</span></li>
            <li title="personal drop" class="product drop" hash="#personaldrop"><span>Serahkan donasi ke dropbox kami</span></li>
          </ul>
          </li>
          <li class="gender buy jquery-once-1-processed" hash="#catalog" style="width: 355px; ">
          <div class="img-holder ir">Catalog</div>
          <div class="label buy">Catalog</div>
          <ul class="products"></ul>
          </li>
        </ul>
        </nav>
      </div>

      <%= render 'layouts/footer' %>
      </section>
    </div>
    <%= render :partial => 'layouts/shoppingcart' if session[:cart] %>

    <script>
      $('#views_slideshow_cycle_teaser_section_gallery-block').cycle({
        prev: '#views_slideshow_controls_text_previous_gallery-block', 
        next: '#views_slideshow_controls_text_next_gallery-block', 
        pager: '#slideshow_pager',
        pagerAnchorBuilder: function(index, el) {
          return '<a href="#">&nbsp;&nbsp;</a>';
        },
        speed:   700,
        timeout: 5000, 
      });
      var mouseIn = function() {
        $('#views_slideshow_cycle_teaser_section_gallery-block').cycle('pause');
      }
      var mouseOut = function() {
        $('#views_slideshow_cycle_teaser_section_gallery-block').cycle('resume');
      }
      if (jQuery.fn.hoverIntent) {
        $('#views_slideshow_cycle_teaser_section_gallery-block').hoverIntent(mouseIn, mouseOut);
      }
      else {
        $('#views_slideshow_cycle_teaser_section_gallery-block').hover(mouseIn, mouseOut);
      }
      $('ul.catalog-navigation li.gender[hash=#donate]').click(function(){var hash=$(this).attr('hash'); genderNav([hash]);})
      var pageH = $(window).height();
      var plasmaH = Math.min(Math.max((pageH - 255), 360), 540);
      $("#block-views-gallery-block").animate({ height: plasmaH }, 300);
      $("li[hash='#personaldrop']").click(function(){location.pathname='/dropboxes'});
      $("li[hash='#arrangepickup']").click(function(){location.pathname='/donations/new'});
      $("li[hash='#catalog']").click(function(){location.pathname='/catalogs'});
    </script>
  </body>
</html>
