<% content_for :'page-header' do %>
Lokasi penerimaan barang sumbangan
<% end %>

<ul>
<% @dropboxes.each do |dropbox| %>
  <li>
    <h1><%= dropbox.name %></h1>
    <p><%= dropbox.address %></p>
    <% if user_role == 'marketeer' %>
      <td><%= link_to 'Show', dropbox %></td>
      <td><%= link_to 'Edit', edit_dropbox_path(dropbox) %></td>
      <td><%= link_to 'Destroy', dropbox, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'New Dropbox', new_dropbox_path if user_role == 'marketeer' %>
