<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Vendor user:</b>
  <%= @product.vendor_user_id %>
</p>

<p>
  <b>Sell:</b>
  <%= @product.sell %>
</p>

<%= button_to 'Add to cart', cart_path(:product_id => @product.id) %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
